body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.container {
  background-color: beige;
  /* この3つのプロパティあまりわかってない */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* widthを固定する場合 */
  width: 800px;
  /* bodyに
    ・display: flex
    ・justify-content: center
  を指定しているから「margin: 0 auto」なんて要らないよ */
  /* margin: 0 auto; */
}

header {
  outline: 2px solid;
  height: 150px;
}

nav {
  outline: 2px solid;
  width: 150px;
}

.content {
  display: flex;
  /* ここでflexの指定を外すと.contentの高さがなくなる */
  flex: 1;
}

main {
  outline: 2px solid;
  flex: 1;
}

aside {
  outline: 2px solid;
  width: 200px;
}

footer {
  outline: 2px solid;
  height: 200px;
}

/* 900px以下になったら↓のレイアウトを適用する */
@media screen and (max-width: 900px) {
  body,
  nav,
  aside {
    /* 横幅いっぱいに広げる */
    width: 100%;
  }
  /* 縦にカラムを落とす */
  .content {
    flex-direction: column;
  }
  main {
    /* orderの値が低ければ先に表示されるため、.center要素が.contentの中で1番上に表示される */
    order: -1;
  }
}
