.button {
  box-sizing: border-box;
  width: 300px;
  margin: 10px 0px 0px 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #2e7c9f;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.button:disabled {
  background-color: #999;
}
